@charset "UTF-8";
/* iconos */
@font-face {
  font-family: "paoo";
  src:url("../fonts/paoo.eot");
  src:url("../fonts/paoo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/paoo.woff") format("woff"),
    url("../fonts/paoo.ttf") format("truetype"),
    url("../fonts/paoo.svg#paoo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "paoo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="paoo-"]:before,
[class*=" paoo-"]:before {
  font-family: "paoo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paoo-fb:before {
  content: "\61";
}
.paoo-twt:before {
  content: "\62";
}
.paoo-correo:before {
  content: "\63";
}
.paoo-css:before {
  content: "\64";
}
.paoo-menu:before {
  content: "\65";
}
.paoo-insta:before {
  content: "\66";
}
.paoo-html:before {
  content: "\67";
}
.paoo-paypal:before {
  content: "\68";
}

/* Fuentes */


  /* Roboto */
@font-face{
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face{
  font-family: "Roboto";
  font-weight: bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}


  /* Train One */
@font-face{
  font-family: "Train One";
  src: url(../fonts/Train_One/TrainOne-Regular.ttf);
}


  /* Redressed */
@font-face{
  font-family: "Redressed";
  src: url(../fonts/Redressed/Redressed-Regular.ttf);
}


  /* Playfair Display */
@font-face{
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face{
  font-family: "Playfair Display";
  font-weight: italic;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}


  /* Pacifico */
@font-face{
  font-family: "Pacifico";
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
/* Inicio */
:root {
    --roboto: "Roboto", sans-serif;
    --train: "Train One", cursive;
    --redressed: "Redressed", cursive;
    --Playfair: "Playfair Display", serif;
    --pacifico: "Pacifico", cursive;
    --ancho-contenedor: 1200px;
    --fondo: #4b4444;
    --Azul-degradado-arriba-abajo-claro-fuerte: radial-gradient(circle at 50% -20.71%, #a7ffff 0, #7fffff 25%, #3cf2f2 50%, #00dae3 75%, #00c7da 100%);
    --verde-fav: linear-gradient(180deg, rgba(89, 226, 98, 1) 0%, rgba(96, 230, 109, 1) 24%, rgba(255, 255, 255, 1) 100%);
    --bg-azul-claro: rgba(7, 168, 243, 0.3);
    --bg-blanco: rgba(255, 255, 225, 0.3);
    --br: 5px;
    --bg-morado: #a945c7;
    --borde: solid 1px rgba(255, 255, 255, 0.5);
    --blanco: #fff;
    --azul: #0d6efd;
    --indigo: #6610f2;
    --morado: #6f42c1;
    --rosa: #d63384;
    --rojo: #dc3545;
    --naranja: #fd7e14;
    --amarillo: #ffc107;
    --verde: #198754;
    --primario: #0d6efd;
    --secundario: #6c757d;
    --completado: #198754;
    --información: #0dcaf0;
    --advertencia: #ffc107;
    --peligro: #dc3545;
    --negro: #212529;
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
}
/*Scroll*/
*::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background: #63195e;
    border-radius: 8px;
}

/*JP Responsivo*/

.train{
    font-family: var(--train);
}

.logo{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 0 7% 0 0;
}

.logo img{
    height: 95px;
    margin: 5px 0;
}
.RM{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 0 7% 0 0;
}

.RM img{
    height: 95px;
    margin: 5px 0;
}


/*Extra*/
.aqua{
    color: aqua;
}
.marcoinvisible{
    border-radius: 57px 57px 57px 57px;
    -moz-border-radius: 57px 57px 57px 57px;
    -webkit-border-radius: 57px 57px 57px 57px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    backdrop-filter: brightness(60%);
    margin: 12px 12px 0px 0px;
}
.marcoinvisible2{
    border-radius: 57px 57px 57px 57px;
    -moz-border-radius: 57px 57px 57px 57px;
    -webkit-border-radius: 57px 57px 57px 57px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    backdrop-filter: brightness(60%);
    -webkit-transition: all 1s;
    color: blanchedalmond;
    margin: 12px 12px 0px 0px;
}
.marcoinvisible2:hover{
    background: #fff;
    color: blueviolet;
}

.content1{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.info{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 0 7% 0 0;
    -webkit-transition: all 1s;
    color: aqua;
    /*Prueba*/
    border-radius: 57px 57px 57px 57px;
    -moz-border-radius: 57px 57px 57px 57px;
    -webkit-border-radius: 57px 57px 57px 57px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    backdrop-filter: brightness(60%);
    display: flex;
    margin: 12px 0px 12px 0px;
}
.info:hover{
    background: #aaf2aa;
    color: crimson;
}

.info img{
    height: 95px;
    margin: 5px 0;
}

.content2{
    display: flex;
    align-self: center;
    flex-grow: 1;
    flex-basis: 60%;
    /*Analizar*/
    padding: 10px 30px;
    text-align: center;
    justify-content: flex-end;
    color: aqua;
    border-radius: 50px;
    transition: all 1s;
    -webkit-transition: all 1s;
    
    border-radius: 57px 57px 57px 57px;
    -moz-border-radius: 57px 57px 57px 57px;
    -webkit-border-radius: 57px 57px 57px 57px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    backdrop-filter: brightness(60%);
    margin: 12px 0px 12px 0px;
}

.content2-sin-filtro{
  display: flex;
  align-self: center;
  flex-grow: 1;
  flex-basis: 60%;
  /*Analizar*/
  padding: 10px 30px;
  text-align: center;
  justify-content: flex-end;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
  
  border-radius: 57px 57px 57px 57px;
  -moz-border-radius: 57px 57px 57px 57px;
  -webkit-border-radius: 57px 57px 57px 57px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  backdrop-filter: brightness(60%);
  margin: 12px 0px 12px 0px;
}

.content2:hover{
    background: #dfe3a3;
    color: #4a32e6;
}

.centro-arreglo{
  align-self: center;
  flex-grow: 0;
  flex-basis: 60%;
  /*Analizar*/
  padding: 10px 30px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
  
  border-radius: 57px 57px 57px 57px;
  -moz-border-radius: 57px 57px 57px 57px;
  -webkit-border-radius: 57px 57px 57px 57px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content3{
    align-self: center;
    flex-grow: 1;
    flex-basis: 60%;
    /*Analizar*/
    padding: 10px 30px;
    text-align: center;
    justify-content: flex-end;
    color: aqua;
    border-radius: 50px;
    transition: all 1s;
    -webkit-transition: all 1s;
    
    border-radius: 57px 57px 57px 57px;
    -moz-border-radius: 57px 57px 57px 57px;
    -webkit-border-radius: 57px 57px 57px 57px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    backdrop-filter: brightness(60%);
}
.content3:hover{
    background: #fff;
    color: #4a32e6;
}

.logo{
    width: 60px;
    height: auto;
}

.carrusel{
    width: auto;
    height: auto;
    margin: 5px 0;
}

.tarjetas{
    margin: 34px auto;
}


.acon{
    background: #28807e;
    color: aliceblue;
    margin: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: auto;
    -webkit-transition: all 1s;
}

.acon:hover{
    background: #63195e;
    color: azure;
}

.espacio{
    margin: 12px;
    margin-top: 12px;
}

.fondo-aqua{
    background: aqua;
}
.link-light:hover{
    color: aqua;
}

.fm-video{
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5) ;
  }
  
  .tamaño{
    width: 300px;
    height: auto;
  }
  
  /*Agregado el día 18/04/21 proximamente mas código*/
  .tarjeta-neo{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
               text-align: center;
  }
  
  .dayan:hover{
    background-color: #4a32e6;
  }
  
  .invisible{
    visibility: hidden;
  }
  
  /*Estadistica original para uso comercial creado el dia 23/04/21*/
  
  .content-original-mx{
    max-width: 90%;
    width: var(--ancho-contenedor);
    margin: 20px auto;
    overflow: hideen;
  }
  .tarjeta{
    padding: 48px;
    border-radius: 3px;
    margin: 12px;
    box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
               text-align: center;
    text-align: center;
  }
  .text-blanco{
    color: #fff;
  }
  
  .text-azul{
    color: #28807e;
  }
  .text-amarillo{
    color: yellow;
  }
  .text-verde{
    color: greenyellow;
  }
  .text-rojo{
    color: red;
  }
  
  .text-negro{
    color: black;
  }
  
  /*Efecto cristal creado 23/04/21*/
  .content4{
    background-color: var(--bg-blanco);
    backdrop-filter: blur(20px);
    border: var(--borde);
    border-radius: var(--br);
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    overflow: hidden;
  }
  
  .barra-lateral{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
  }
  .barra-lateral ul{
    padding: 0;
    box-sizing: border-box;
    margin: 20px 0;
    list-style: none;
    text-align: left;
  }
  
  .barra-lateral ul li a{
    color: rgba(255, 255, 225, 0.8);
    display: block;
    /*Desaparezco subrayado*/
    text-decoration: none;
    padding: 12px 10px;
  }
  
  .barra-lateral ul li a:hover{
    color: white;
    border-radius: var(--br);
    background-color: #0084ff;
  
    box-shadow: 0 5px 10px 2px rgba(10, 137, 225, 0.5);
  }
  
  .tajeta-perfil{
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  
  .perfil{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  }

  .tarjeta2{
    border-radius: var(--br);
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 20px 0;
    overflow: hidden;
    border: var(--borde);
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
    
  }
  
  .tarjeta2 .content4{
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
  }
  
  .tarjeta2 .left{
    padding-right: 15px;
  }
  
  .tarjeta2 .right{
    width: 100%;
  }
  
  .tarjeta2 .right .task{
    font-size: 22px;
  }
  
  .tarjeta2 .right .status{
    padding: 5px 0;
    font-size: 14px;
    color: #888;
  }
  
  .tarjeta2 .right .progreso{
    background-color: #ddd;
    width: 100%;
    height: 10px;
  }
  
  .tarjeta2 .right .progreso .fill{
    height: 10px;
    margin: 10px 0;
  }
  /*Barra de progreso*/
  .tarjeta2 .right .progreso .fill.fill-0{
    background-color: rgb(189, 30, 2);
    width: 1%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-5{
    background-color: rgb(247, 40, 3);
    width: 5%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-20{
    background-color: rgb(255, 56, 21);
    width: 20%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-40{
    background-color: rgb(255, 181, 21);
    width: 40%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-50{
    background-color: rgb(255, 175, 1);
    width: 50%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-60{
    background-color: rgb(150, 255, 155);
    width: 60%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-80{
    background-color: rgb(84, 255, 113);
    width: 80%;
  }
  
  .tarjeta2 .right .progreso .fill.fill-100{
    background-color: rgb(87, 255, 21);
    width: 100%;
  }
  /*Botones*/
  .tarjeta2 .botones{
    backdrop-filter: blur(5px);
    text-align: right;
    padding: 20px;
  }
  
  .btn1{
    background: #0084ff;
    border: none;
    font-weight: bolder;
    color: white;
    padding: 15px 20px;
    border-radius: var(--br);
    text-decoration: none;
  }
  
  .btn1:hover{
    background-color: #118cff;
    box-shadow: 0 5px 10px 2px rgba(10, 137, 225, 0.5);
  }
  
  .completado-blanco{
    color: white;
    border-radius: var(--br);
    background-color: #0084ff;
  
    box-shadow: 0 5px 10px 2px rgba(10, 137, 225, 0.5);
    display: block;
    /*Desaparezco subrayado*/
    text-decoration: none;
    padding: 12px 10px;
  }
  
  .espacio-pc{
    padding: 12px 10px;
  }
  
  .btn2{
    transition: all 0.2s;
    background-image: radial-gradient(circle at 50% -20.71%, #a7ffff 0, #7fffff 25%, #3cf2f2 50%, #00dae3 75%, #00c7da 100%);
    border: none;
    font-size: 1em;
    font-weight: bolder;
    color: var(--blanco);
    padding: 15px 20px;
    border-radius: var(--br);
    text-decoration: none;
  }
  
  
  .btn2:hover{
    background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63 12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%, #73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d 68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%, #00d6f6 100%);
    box-shadow: 0 5px 10px 2px rgba(10, 137, 225, 0.5);
  }
  
  .btn-neon{
    background: var(--bg-blanco);
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--blanco);
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: var(--br);
  }
  .btn-neon:hover{
    background: var(--bg-morado);
    color: var(--blanco);
    box-shadow: 0 0 10px #a945c7 0 0 40px #a945c7 0 0 80px #a945c7;
    transition-delay: 1s;
  }
  
  .btn-neon span{
    position: absolute;
    display: block;
  }
  
  #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
  }
  
  .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
  }
  
  #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
  }
  
  .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  
  #span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
  }
  
  .btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  
  #span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
  }
  
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
  
  .content-morado-plus{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: #1a0321;
    /*font-family: var(--train);*/
  }
  
  .portada{
    width: 50%;
    height: auto;
  }
  
  .obj-centrado{
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .content-naranja{
    color: var(--morado);
    background-color: var(--rosa);
  }
  
  .justificacion{
    text-align: justify;
  }
  
  .main1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-tarjeta-blue{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    background: linear-gradient(to right, #00b2ff, #0066ff);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .20) 0px 15px 12px rgba(0, 0, 0, .15);
    transition: all 180ms ease-out;
  }
  
  .content-tarjeta-blue h1{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 22px rgba(0, 0, 0, .6);
    transform: translateZ(40px);
  }
  
  .circulo{
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .circulo span{
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    transform: translateZ(40px);
  }
  
  .separacion{
    margin: 12%;
  }
  
  .fondo1{
    background: rgb(122,255,238);
  background: linear-gradient(180deg, rgba(122,255,238,1) 0%, rgba(25,255,222,1) 47%, rgba(255,255,255,1) 100%);
  }
  
  .content-original-mx-auto{
    max-width: 90%;
    width: var(--ancho-contenedor);
    margin: auto;
    overflow: hideen;
  }
  
  @media screen and (max-width: 800px){
    main .jp{
      width: 100%;
    }
    .barra-lateral{
      width: 100%;
    }
  }

/*Pao: Estilos base*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
/*Opcional*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}
/*---------------Estilos del header paoo----------------*/

.main-header {
    width: 100%;
}

.logo1 {
    font-size: 1.8em;
    color: rgb(89, 226, 98);
    color: linear-gradient(90deg, rgba(89, 226, 98, 1) 0%, rgba(96, 230, 109, 1) 33%, rgba(255, 255, 255, 1) 100%);
    padding: 10px;
    font-family: var(--pacifico);
    font-weight: 100;
}

.main-header__contactInfo__correo {
    background: rgb(89, 226, 98);
    background-color: linear-gradient(90deg, rgba(89, 226, 98, 1) 0%, rgba(96, 230, 109, 1) 33%, rgba(255, 255, 255, 1) 100%);
    color: var(--blanco);
    margin: 0 auto;
    padding: 10px;
}
.main-header [class*="paoo-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/*---------------Estilos del menú paoo----------------*/

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.paoo-menu {
    display: block;
    color: var(--blanco);
    border: 1px solid var(--blanco);
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="paoo-"] {
    color: var(--negro);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: var(--blanco);
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}

.menu__link {
    display: block;
    padding: 15px;
    color: var(--blanco);
    text-decoration: none;
}

.menu__link:hover {
    background: rgb(89, 112, 226);
    background: linear-gradient(90deg, rgba(89, 112, 226, 1) 0%, rgba(96, 159, 230, 1) 33%, rgba(202, 214, 237, 1) 100%);
    color: var(--blanco);
    text-decoration: none;
}

.menu__link--select {
    background: rgb(89, 112, 226);
    background: linear-gradient(90deg, rgba(89, 112, 226, 1) 0%, rgba(96, 159, 230, 1) 33%, rgba(202, 214, 237, 1) 100%);
}

.mostrar {
    height: 196px;
}

/*---------------Estilos del banner paoo----------------*/

.banner {
    margin-top: -60px; /*Original -55px*/
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.39);
    z-index: 1000;
    top: 0;
}

.banner__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner__content {
    width: 90%;
    color: var(--blanco);
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

/*---------------Estilos principales paoo----------------*/

.group--color .container {
    background: #de423a;
    color: var(--blanco);
    padding: 10px;
    text-align: center;
}

.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: var(--pacifico);
    font-weight: 100;
}

.main__txt {
    padding: 10px;
}

.column__title {
    font-size: 1.3em;
    text-align: center;
}

.main__about__description .column:nth-child(2) {
    padding: 10px;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: rgb(194, 181, 236);
    background: linear-gradient(90deg, rgba(194, 181, 236, 1) 0%, rgba(92, 196, 163, 1) 50%, rgba(194, 181, 236, 1) 100%);
    padding: 10px;
    margin: 10px auto;
    color: var(--blanco);
}

.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}

.today-special__img {
    margin: auto;
    max-width: 350px;
}

.group__title {
    font-family: var(--pacifico);
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}

.today-special__title {
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.today-special__price {
    font-size: 1.5em;
    color: #de423a;
    font-weight: bold;
}

/*---------------Estilos del footer paoo----------------*/

.main-footer {
    background: var(--fondo);
    color: var(--blanco);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="paoo-"] {
    color: var(--blanco);
    text-decoration: none;
}

.main-footer [class*="paoo-"]::before {
    position: relative;
    top: 3px;
    right: 5px;
}

/*---------------Estilos responsivo paoo----------------*/
@media screen and (min-width: 480px) {
    .logo1 {
        color: var(--blanco);
    }

    .main-header__contactInfo {
        text-align: right;
    }

    .main-header__contactInfo__correo {
        background: none;
    }

    .main-nav {
        background: rgba(0, 0, 0, 0.85);
    }

    .banner {
        margin-top: -190px;
        z-index: -1000;
    }

    .banner__content {
        font-size: 2em;
    }

    .main-footer .container--flex{
        align-items: flex-start;
    }

    .column--50 {
        width: 49%;
    }

    .column--50-25 {
        width: 49%;
    }

    .column--33 {
        width: 32%;
        text-align: center;
    }

    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: 0.9em;
    }

    /*.main__about__description .btn{
        margin: 0;
    }*/

    .today-special .column {
        border: 5px solid #ddd;
        padding: 5px;
    }

    .today-special__img {
        height: 200px;
        object-fit: cover;
    }

    .main {
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .main__title {
        font-size: 2.2em;
    }

    .main__about__description {
        margin-top: 30px;
    }

    .main__about__description .column--50:nth-child(2) {
        font-size: 1em;
    }

    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 30px;
    }

    .column--50-25 {
        width: 24.5%;
    }

    .column__title {
        font-size: 1em;
    }

    .group__title {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 1024px) {

    .container{
        width: 1000px;
    }

    .logo1{
        font-size: 2em;
        padding: 0;
    }

    .main-header__contactInfo__correo{
        padding-right: 0;
        font-size: 1.15em;
    }

    .main-nav{
        padding: 0;
    }

    .banner__content{
        font-size: 2.5em;
    }

    .paoo-menu{
        display: none;
    }

    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }

    .menu__link{
        padding: 20px;
    }

    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .main__title{
        font-size: 2.4em;
    }

    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 45px;
    }

    .today-special__title{
        font-size: 1.4em;
    }

    .today-special__price{
        font-size: 1.8em;
    }

    .main-footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (min-width: 1600px){
    .container{
        width: 1500px;
    }

    .main__about__description .column:nth-child(1) .img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .today-special__img{
        height: 300px;

    }
}

.links--none{
text-decoration: none;
}

.links{
    text-decoration: none;
    color: var(--blanco);
}

/* Nosotros estilos */

.our-team{
  text-align: center;
  margin-bottom: 20px;
}

.our-team .container--flex{
  align-items: flex-start;
}

.our-team__title{
  font-family: var(--pacifico);
  color: #de423a;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.our-team__img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.our-team__txt{
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .our-team__img{
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__img{
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .our-team__img{
    width: 310px;
    height: 310px;
  }
  .our-team__title{
    font-size: 2.1em;
  }
}

@media screen and (min-width: 1600px) {
  .our-team__img{
    width: 420px;
    height: 420px;
  }
}

.links-rosa{
  text-decoration: none;
  color: var(--rosa);
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
  margin-bottom: 10px;
}

/* Galería de 4 */

.gallery__img{
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery__img:hover{
  transform: scale(1.02);
}

.gallery__img--big{
  height: 400px;
}
.gallery__img--small{
  height: 200px;
}

.modal{
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  display: none;
}

.modal__content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__img{
  width: 45%;
}

.modal__boton{
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--morado);
  cursor: pointer;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--verde-fav);
  font-size: 2.5em;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
}

.modal--open{
  display: block;
}

.contact-information{
  padding: 10px;
  padding-top: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--rojo);
}

.contact-information .column__title{
  font-family: var(--train);
  font-weight: 100;
  font-size: 1.5em;
}

.contact-information .column__txt{
  font-family: var(--Playfair);
  font-weight: 100;
  font-size: 1.2em;
  margin-bottom: 2px;
}

.column-information [class*="icon-"]{
  font-size: 1.3em;
  margin-right: 7px;
  position: relative;
  top: 5px;
}

.contact-information .social-icon{
  justify-content: flex-start;
  margin-bottom: 10px;
}

.contact-information .social-icon [class*="icon-"] {
  background: var(--bg-morado);
  color: var(--blanco);
  margin-left: 0;
  margin-right: 15px;
}

.formulario {
  padding: 10px;
  padding-top: 0;
}

.formulario__label, .formulario__input-txt, .formulario__textarea{
  display: block;
  width: 100%;
}

.formulario__input-txt{
  padding: 10px;
  margin-bottom: 10px;
}

.formulario__textarea{
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 12px;
}

.formulario__btn{
  border: none;
  cursor: progress;
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

.formulario__Bienvenida{
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: var(--roboto);
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width:480px) {
  .contact .container--flex{
    align-items: flex-start;
  }
  .contact-information p{
    font-size: .75em;
  }
  .contact-information{
    border-right: 1px solid var(--rojo);
    border-bottom: none;
  }
}

@media screen and (min-width:768px){
  .contact-information p{
    font-size: 1em;
  }
  .contact-information .column__title{
    font-size: 1.5em;
  }
}

/* Correo */

.cabeza--titulo{
  background: var(--verde-fav);
  text-align: center;
  font-size: 1.5em;
}

.cabeza--img{
  width: 50%;
}

.separador-10{
  border-bottom: 100px;
}

.special{
  width: auto;
  height: 50%;
}

.special--tarjeta{
  width: 35%;
  height: 35%;
}
